.tab_menu{
	color:#fff;
	background-color:#000;
	border:2px solid #c0c0c0;
	padding:10px;
	text-align:center;
	cursor:pointer;
	font-family: arial, sans-serif;
}

.tab_menu_hilite{
	color:#f00;
	background-color:#c0c0c0;
	border:2px solid #f00;
}

.tab_menu_select{
	color:#000;
	background-color:#fff;
	border:2px solid #c0c0c0;
}					