<#if user.isSignedIn>
<link href="${template.htmlInclude}jquery.toastmessage.css" type="text/css" rel="stylesheet"/>
<script src="${template.htmlInclude}jquery.toastmessage.js" type="text/javascript"></script>
<style>
    #dropzone {
    	position:fixed;
    	float:left;
    	padding:4px;
    	text-align:center;
    	width:100%;
    	height:100%;
    	z-index:1;
    }
    #dropzone.drag { border: solid 3px #C0362C; background:purple;}
    #dropzone #file-input { display:none; }
</style>
<script type="text/javascript" src="${template.htmlInclude}filereader.js"></script>
<script type="text/javascript">
	var filelist = document.getElementById("file-list");
	$(document).ready(function() {
		var fileUploadOptions = {
			on: {
				load: function(e, file) {
					if (! confirm("Upload image(s)?")) {
						$().toastmessage('showSuccessToast', 'Did NOT upload any files.');
						return;
					}
					var widget = document.getElementById('dropzone');
					if (widget)
						widget.style.background = '#C0362C';
					var data = new FormData();
					data.append('file-0', file);
					try {
						$().toastmessage('showSuccessToast', 'Uploading your file...');
					} catch (err) {
						;
					}
					$.ajax({
					    type: 'POST',
					    data: data,
					    url: 'upload.jsp?type=brand&partnerId=${brand.id}&addToCollectionId=${collection.id}',
					    cache: false,
					    contentType: false,
					    processData: false,
					    success: function(data){
							var widget = document.getElementById('dropzone');
							if (widget)
								widget.style.background = 'white';
							location.reload();
					    }
					});
				},
				error: function(e, file) {
	            },
				groupstart: function(group) {
				},
				groupend: function(group) {
				}
			}
		};

		FileReaderJS.setupInput(document.getElementById('file-input'), fileUploadOptions);
		FileReaderJS.setupDrop(document.getElementById('dropzone'), fileUploadOptions);
		FileReaderJS.setupClipboard(document.body, fileUploadOptions);
	});
    $(function() {
        $("body").toggleClass("disabled", !FileReaderJS.enabled);
    });
</script>
<div id="dropzone">
	<input type="hidden" name="extra-data" multiple="" form="file-form">
	<input type="file" id="file-input" name="file-input" multiple="" form="file-form">
</div>
</#if>