.st_twitter_custom {
	background: url("01-32x32-twitter-static.png") no-repeat scroll left top transparent;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.st_twitter_custom:hover {
	background: url("02-32x32-twitter-roll.png") no-repeat scroll left top transparent;
}


.st_facebook_custom {
	background: url("01-32x32-f_logo-static.png") no-repeat scroll left top transparent;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.st_facebook_custom:hover {
	background: url("02-32x32-f_logo-roll.png") no-repeat scroll left top transparent;
}


.st_pinterest_custom {
	background: url("01-pinterest-static.png") no-repeat scroll left top transparent;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.st_pinterest_custom:hover {
	background: url("02-pinterest-roll.png") no-repeat scroll left top transparent;
}


.st_email_custom {
	background: url("01-envelope-static.png") no-repeat scroll left top transparent;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.st_email_custom:hover {
	background: url("02-envelope-roll.png") no-repeat scroll left top transparent;
}

.buy_from_amazon {
	background: url("amazon-checkout-bw.png") no-repeat scroll left top transparent;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.buy_from_amazon:hover {
	background: url("amazon-checkout.png") no-repeat scroll left top transparent;
}



#details-tab ul {
	list-style: circle;
	margin-left:20px;
	line-height: 18px;
}

.favorite2 {
	width: 32px;
	height: 32px;
	display: inline-block;
	background: url("favorite-icon-32x32.png") no-repeat scroll left top transparent;
}
.favorite2:hover {
	background: url("favorite-icon-32x32-rollover.png") no-repeat scroll left top transparent;
}

.generic_buy_now {
	color: black;
	background: white;
	border-width: 1px;
	border-style:double;
	border-color:silver;
	font-size: 18px;
	padding: 5px;
	top:5px;
	position:relative;
	margin-right: 25px;
}

.generic_buy_now:hover {
	color: #C0362C;
}

.generic_buy_now:ACTIVE {
	background: silver;
}

#dropzone { padding:2px; border: solid 3px black; text-align: center;width:400px;}
#dropzone.drag { border: solid 3px #C0362C; }

.vmenu{border:1px solid #aaa;position:absolute;background:#fff;	display:none;font-size:14px;}
.vmenu .first_li span{width:100%;display:block;padding:5px 10px;cursor:pointer}
.vmenu .inner_li{display:none;margin-left:120px;position:absolute;border:1px solid #aaa;border-left:1px solid #ccc;margin-top:-28px;background:#fff;}
.vmenu .sep_li{border-top: 1px ridge #aaa;margin:5px 0}
.vmenu .fill_title{font-size:11px;font-weight:bold;height:15px;overflow:hidden;word-wrap:break-word;}

 .relationshipProp {
	padding-top: 10px;
 }

label, input { display:inline; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
 