@CHARSET "ISO-8859-1";

.product-info {
	color:white;
	font-size:16px;
	text-align: center;
}

#collection-image
{
	color: white;

}
	
#collection-image
{
	color: white;

}

#CollectionScroller
{
	width:100%;
	height: 100%;
	position: relative;
}

.carbonFiber {
	background:-webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px, -webkit-linear-gradient(-117deg, #151515 5px, transparent 5px) 10px 0px, -webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px, -webkit-linear-gradient(-117deg, #222 5px, transparent 5px) 10px 5px, -webkit-linear-gradient(0deg, #1b1b1b 10px, transparent 10px), -webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: black;
	background-size: 20px 20px;
}


#CollectionScroller div.scrollableArea img
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 150px;
	/* If you don't want the images in the scroller to be selectable, try the following
	   block of code. It's just a nice feature that prevent the images from
	   accidentally becoming selected/inverted when the user interacts with the scroller. */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.Collection
{
	height:100%;
	top:0px;
	position:relative;
}

.CollectionItem
{
	position:relative;width:150px;height:150px;float:left; background-size: 150px 150px;
	background-repeat: no-repeat;
}

.CollectionItem .ItemBase
{
	top: 0px;
	border: 1px dotted silver;
	padding: 2px;
	background:black;
	color:white;
	text-align: center;
	left:0px;
	position:relative;
	height:44px;
}

.CollectionItem .Name
{
	position:absolute;
	font-size:9px;
	height: 24px;
	overflow: hidden;
}

.CollectionItem .Price
{
	position:absolute;
	bottom:2px;
	font-size:11px;
	text-align: center;
	width: 100%;
}

figure { 
  display: block; 
  position: relative; 
  overflow: hidden;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0em;
  -webkit-margin-end: 0em;
	position:relative;
	width:154px;
	background-size: 150px 150px;
	height:100%;
	float:left;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
	
* {
	margin: 0;
}
html, body {
	height: 100%;
}

body {
	background-color:white;
	background-repeat: no-repeat;
	background-size: 50%;
}

.footerWrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -154px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
	height: 154px; /* .push must be the same height as .footer */
	opacity: 1.0;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
}

.footer {
	position:absolute;
	bottom: 0px;
	background:#f3f3f3;
	width: 100%;
	z-index: 99999999999999;
	height:220px;
}


.footer:hover {
	bottom: 0px;
	opacity: 0.95;
}

.one-small-image {
	width:150px;height:150px;display:block;position:relative;vertical-align:middle;display:table-cell;background-color:#f3f3f3;
}