<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<#include  "*/ga.html">

<style type="text/css">
	.videoContent {
		position: absolute;
		top: 0px;
		height: 100%;
		width: 100%;
		color: silver;
		background-color:black;
	}
.page-button {
	font:18px Georgia, serif;
}
a:link {
	padding: 7px 4px 4px 4px;
	border: 1px solid silver;
	text-decoration: none;
	color: black;
	position:relative;
	background-color:rgba(255,255,255,.5);
	-webkit-transition: all 0.4s ease;
	-moz-transition:    all 0.4s ease;
	-o-transition:      all 0.4s ease;
}

a:hover {
	color: #C0362C;
	box-shadow: 4px 4px 4px 0px #000;
	border: 1px solid black;
    text-decoration: none;
	color: #C0362C;
}

a:active {
	-webkit-transition: all 0.1s ease;
	-moz-transition:    all 0.1s ease;
	-o-transition:      all 0.1s ease;
	box-shadow: 0 0 0 0 #000;
	background: gray;
}
</style>

</head>
<body style="overflow:hidden;zoom:<%=zoom%>%;">
	<div style="position:relative;z-index:99999990;">
		<div style="right:22px;top:5px;position:absolute;">
			<#if (collection.products?size > 0) >
				<a href="${template.urlBase}/shop.html"><span class="page-button">Shop</span></a>
			</#if>
			<#if (collection.images?size > 0) >
				<a href="${template.urlBase}/index.html"><span class="page-button">Images</span></a>
			</#if>
			<span style="color:silver;" class="page-button">Video</span>
		</div>
	</div>
	<div class="videoContent" id ="wrapper">
		<#if (collection.videos?size > 0) >
		<iframe id="videoFrame" width="100%" height="100%" src="http:${collection.videos[0].videoURL}?autoplay=<%=autoPlayStr%>&controls=0&modestbranding=1&showinfo=0&version=3&wmode=transparent&loop=1 %>" frameborder="0" allowfullscreen></iframe>
		</#if>
	</div>
</body>
</html>