

.capsule_thumbnail_highlight
{
	background-color:#093;
	color:#CCC;
}
.capsule_thumbnail_select
{
	background-color:#0FF;
	color:#000;
}

.video_tab
  {
<#if tabbackgroundcolor?has_content>         
        background-color:${tabbackgroundcolor};
<#else>
        background-color:#093;
</#if>
<#if tabforegroundcolor?has_content>         
	    color:${tabforegroundcolor};
<#else>
	    color:#FFF;
</#if>
  }
  .container_capsule
  {
<#if scrollerbackgroundcolor?has_content>         
        background-color:${scrollerbackgroundcolor};
<#else>
	   background-color:#2377B9;
</#if>
  }
  .capsule_thumbnail
  {
<#if scrollerforegroundcolor?has_content>         
	    color:${scrollerforegroundcolor};
<#else>
	  color:white;
</#if>
  }
