/*
 * jQuery Box Lid Plugin v0.1
 * https://github.com/jimjh/box-lid
 *
 * Copyright 2013 Jiunn Haur Lim
 * Released under the MIT License
 */.box-lid{-webkit-perspective:2000px;-moz-perspective:2000px;-ms-perspective:2000px;-o-perspective:2000px;perspective:2000px;-webkit-perspective-origin:50% 50%;-moz-perspective-origin:50% 50%;-ms-perspective-origin:50% 50%;-o-perspective-origin:50% 50%;perspective-origin:50% 50%;background:#333}.box-lid .box-lid-content{-webkit-transition:all 500ms cubic-bezier(0.75, 0, 0.175, 1);-moz-transition:all 500ms cubic-bezier(0.75, 0, 0.175, 1);-o-transition:all 500ms cubic-bezier(0.75, 0, 0.175, 1);transition:all 500ms cubic-bezier(0.75, 0, 0.175, 1);background:#fff}.box-lid-icon{-webkit-transition:all 250ms cubic-bezier(0.75, 0, 0.175, 1);-moz-transition:all 250ms cubic-bezier(0.75, 0, 0.175, 1);-o-transition:all 250ms cubic-bezier(0.75, 0, 0.175, 1);transition:all 250ms cubic-bezier(0.75, 0, 0.175, 1);position:absolute;top:50%;left:25%}.box-lid-icon:before{content:'';position:absolute;width:1.1em;height:0.15em;background:black;box-shadow:0 0.25em 0 0 black, 0 0.5em 0 0 black}.box-lid-menu{-webkit-transition:all 250ms cubic-bezier(0.75, 0, 0.175, 1);-moz-transition:all 250ms cubic-bezier(0.75, 0, 0.175, 1);-o-transition:all 250ms cubic-bezier(0.75, 0, 0.175, 1);transition:all 250ms cubic-bezier(0.75, 0, 0.175, 1);width:40px;background:rgba(0,0,0,0.08);position:fixed;height:100%;top:0;left:0;z-index:2}.box-lid-menu nav{-webkit-transition:all 500ms cubic-bezier(0.75, 0, 0.175, 1);-moz-transition:all 500ms cubic-bezier(0.75, 0, 0.175, 1);-o-transition:all 500ms cubic-bezier(0.75, 0, 0.175, 1);transition:all 500ms cubic-bezier(0.75, 0, 0.175, 1);display:block;height:100%;width:auto; min-width:200px; position:absolute;top:0;left:-320px;color:#fff}.box-lid-open .box-lid-content{-webkit-transform:rotateY(-30deg) translateX(200px);-moz-transform:rotateY(-30deg) translateX(200px);-ms-transform:rotateY(-30deg) translateX(200px);-o-transform:rotateY(-30deg) translateX(200px);transform:rotateY(-30deg) translateX(200px)}.box-lid-open .box-lid-icon{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0}.box-lid-open .box-lid-menu nav{left:0}.box-lid-open .box-lid-menu{background:none}
