<#if lr == "left">
	<#assign rl="right">
<#else>
	<#assign rl="left">
</#if>
ul#navigation {
    position: fixed;
    margin-${lr}: -85px;
    padding: 0px;
    top: 10px;
    ${lr}: 0px;
    list-style: none;
    z-index:9999;
}
ul#navigation li {
    width: 100px;
	height:34px;   
  
    background-repeat:no-repeat;
    background-position:center center;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-${rl}-radius: 10px;
    -webkit-border-top-${rl}-radius: 10px;
    -khtml-border-bottom-${rl}-radius: 10px;
    -khtml-border-top-${rl}-radius: 10px;
	border-bottom-${rl}-radius: 10px;
    border-top-${rl}-radius: 10px;
	margin-bottom:2px;
}
.select_1
{
	background-color:rgba(255, 255, 255,0.3);
}
ul#navigation li a {
    display: block;
    margin-${lr}: -2px;
    /*width: 100px;*/
    /*-moz-box-shadow: 0px 4px 3px #000;
      -webkit-box-shadow: 0px 4px 3px #000;
    */
}

#navigation a{
	text-decoration:none;
	font-size:16px;
	padding-top:5px; 
	padding-${rl}:10px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:normal;
}

ul#navigation .home a{
    background-image: url(../images/home.png);
}
ul#navigation .about a      {
    background-image: url(../images/id_card.png);
}
ul#navigation .search a      {
    background-image: url(../images/search.png);
}
ul#navigation .podcasts a      {
    background-image: url(../images/ipod.png);
}
ul#navigation .rssfeed a   {
    background-image: url(../images/rss.png);
}
ul#navigation .photos a     {
    background-image: url(../images/camera.png);
}
ul#navigation .contact a    {
    background-image: url(../images/mail.png);
}
