ul#navigation {
    position: fixed;
    margin-left: -85px;
    padding: 0px;
    top: 10px;
    left: 0px;
    list-style: none;
    z-index:9999;
}
ul#navigation li {
    width: 100px;
	height:34px;   
    background-color:rgba(207, 207, 207,0.4);
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
	margin-bottom:2px;
}
ul#navigation li a {
    display: block;
    margin-left: -2px;

    /*width: 100px;*/

	
	
    /*-moz-box-shadow: 0px 4px 3px #000;
    -webkit-box-shadow: 0px 4px 3px #000;
    */

}

#navigation a{
text-decoration:none;
color:#000;
font-size:16px;
padding:5px 10px;
font-family:Verdana, Geneva, sans-serif;
font-weight:normal;
}

ul#navigation .home a{
    background-image: url(../images/home.png);
}
ul#navigation .about a      {
    background-image: url(../images/id_card.png);
}
ul#navigation .search a      {
    background-image: url(../images/search.png);
}
ul#navigation .podcasts a      {
    background-image: url(../images/ipod.png);
}
ul#navigation .rssfeed a   {
    background-image: url(../images/rss.png);
}
ul#navigation .photos a     {
    background-image: url(../images/camera.png);
}
ul#navigation .contact a    {
    background-image: url(../images/mail.png);
}
