<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "74e280ed-02f5-4ac3-9157-05dde070d68e", onhover: false, shorten: false});</script>
<style>
.st_twitter_custom {
	background: url("${template.templateInclude}01-32x32-twitter-static.png") no-repeat scroll left top transparent;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.st_twitter_custom:hover {
	background: url("${template.templateInclude}02-32x32-twitter-roll.png") no-repeat scroll left top transparent;
}


.st_facebook_custom {
	background: url("${template.templateInclude}01-32x32-f_logo-static.png") no-repeat scroll left top transparent;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.st_facebook_custom:hover {
	background: url("${template.templateInclude}02-32x32-f_logo-roll.png") no-repeat scroll left top transparent;
}


.st_pinterest_custom {
	background: url("${template.templateInclude}01-pinterest-static.png") no-repeat scroll left top transparent;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.st_pinterest_custom:hover {
	background: url("${template.templateInclude}02-pinterest-roll.png") no-repeat scroll left top transparent;
}


.st_email_custom {
	background: url("${template.templateInclude}01-envelope-static.png") no-repeat scroll left top transparent;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.st_email_custom:hover {
	background: url("${template.templateInclude}02-envelope-roll.png") no-repeat scroll left top transparent;
}
</style>

<div>
	<span id="share_fb" name='share-span' st_url="http://publishers.42andpark.com/" st_summary="Check this out" class='st_facebook_custom' displayText='Facebook' st_title='Check this out'></span>
	<span id="share_tw" name='share-span' st_url="http://publishers.42andpark.com/" st_summary="Check this out" class='st_twitter_custom' st_via='42Park' displayText='Tweet' st_title='Check this out'></span>
	<span id="share_pi" name='share-span' st_url="http://publishers.42andpark.com/" st_summary="Check this out" class='st_pinterest_custom' displayText='Pinterest' st_title='Check this out'></span>
	<span id="share_em" name='share-span' st_url="http://publishers.42andpark.com/" st_summary="Check this out" class='st_email_custom' st_via='42Park'  displayText='Email' st_title='Check this out'></span>
</div>
