

.clickablebox {

      background-color:#F00;
      font-size:12px;
	  color:#000;
	  width:200px;
      height:200px;	
	  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
      border-radius: 10px;
}
