.horizontal_menu{
	color:#000;
	background-color:#c0c0c0;
	border:2px solid #000;
	padding:10px;
	text-align:center;
	cursor:pointer;
}

.horizontal_menu_hilite{
	color:#f00;
	background-color:#c0c0c0;
	border:2px solid #f00;
}

.horizontal_menu_select{
	color:#fff;
	background-color:#c0c0c0;
	border:2px solid #fff;
}					