#sidebar_menu {
	<#if bagroundcolor?has_content>         
				background-color:${bagroundcolor};
		<#else>
			   background-color:#2377B9;
		</#if>
}

#sidebar_menu >ul li a 
	{
		<#if fontcolor?has_content>   
		color:${fontcolor};
		<#else>
			   background-color:#FFF;
		</#if>
		
		<#if colorseperator?has_content>   
		border-bottom:1px solid ${colorseperator};
		<#else>
			border-bottom:1px solid #CC0;
		</#if>
		
			<#if fontstyle?has_content>   
		font-style:${fontstyle!"normal"};
		<#else>
		font-style:normal;
		</#if>
		
			<#if fontstyle?has_content>   
		  font-weight:${fontweight!"bold"};
		<#else>
		  font-weight:bold;
		</#if>
		
		
      
	}
	
#sidebar_menu >ul li:hover a 
{
	color:${hightlightfontcolor ! "#000"};
}
