
  .container_capsule
  {
		<#if backgroundcolor?has_content>         
				background-color:${backgroundcolor};
		<#else>
			   background-color:#666;
		</#if>
  }
      .capsule_item_thumbnail {
		  
		  	<#if tittletextcolor?has_content>         
				color:${tittletextcolor};
		<#else>
				color:#093;
		</#if>
      background-color:#FFF;
      border:${borderwidth!"1"} ${borderstyle!"solid"} ${bordercolor!"#C1E0FF"};
     
	  <#if backgroundcolor?has_content>         
      width: ${capsulewidth}px;
    <#else>
	   width:200px;
     </#if>
    }
	
 