/*
This is the default style sheet for the Dog Ear Popper capsule.
*/

#underTheFold {
	position:absolute;
	top:0px;
	width: 300px;
	height: 200px;
	padding-bottom: 500px;
	text-align: right;
	background: white;
	<#if underImage?has_content && underImage.original?has_content>
	background-image: url('${underImage.original}');
/*
	< # elseif underImageCapsule?has_content && underImageCapsule.image?has_content && underImageCapsule.image.original?has_content>
	background-image: url('$ {underImageCapsule.image.original}');
*/
	<#else>
	background-image: url('//d2t7a3zbo166a9.cloudfront.net/jquery/curls/Seymore.png');
	</#if>
	background-size: 200px 200px;
	background-repeat: no-repeat;
	background-position: <#if side?has_content && side == 'left'>left<#else>right</#if> top;
}