body {
  margin: 0;
  padding: 0;
  sbackground-color: whitesmoke;
}
.header {
  font-family: Sans-Serif;
  padding: 100px 0;
  text-align: center;
  font-weight: 300;
  border-bottom: 1px solid #DDD;
  h1 {
    font-weight: 400;
    font-size: 1.3em;
  }
  p {
    width: 500px;
    margin: 0 auto;
    line-height: 1.4em;
    margin-bottom: 15px;
  }
}

/* SCALE (USE THIS)
========================================== */
.imageWrapper {
  sbackground-color: #EEE;
  sborder-bottom: 2px solid #DDD;
  padding: 0;
  cursor:pointer;
}
.image {
  width:640px;
  height:360px;
  margin:0 auto;
  overflow:hidden;
  position: relative;
}
.image img {
  animation:move 10s ease infinite; /* Change this to alternate to stop the loop. */
  -ms-animation:move 10s ease infinite;
  -webkit-animation:move 10s ease infinite;
  -0-animation:move 10s ease infinite;
  -moz-animation:move 10s ease infinite;
  position: absolute;
  left:70px;
  top:50px;
}

@-webkit-keyframes move {
  from {
  	transform: scale(0.9);
    -ms-transform: scale(0.9); /* IE 9 */
    -webkit-transform: scale(0.9); /* Safari and Chrome */
    -o-transform: scale(0.9); /* Opera */
    -moz-transform: scale(0.9); /* Firefox */
  }
  to {
  	transform: scale(1.2);
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
    -moz-transform: scale(1.2); /* Firefox */
  }
}

/* ZOOM (DON'T USE THIS)
========================================== */
.imageWrapperZoom {
  background-color: #EEE;
  border-bottom: 2px solid #DDD;
  padding: 50px 0;
}
.imageZoom {
  width:1200px;
  height:700px;
  margin:0 auto;
  overflow:hidden;
  position: relative;
}
.imageZoom img {
  animation:zoom 7s ease infinite;
  -ms-animation:zoom 7s ease infinite;
  -webkit-animation:zoom 7s ease infinite;
  -0-animation:zoom 7s ease infinite;
  -moz-animation:zoom 7s ease infinite;
  position: absolute;
  left:-150px;
  top:-150px;
}

@-webkit-keyframes zoom {
  from {
  	zoom: 90%;
  }
  to {
    zoom: 100%;
  }
}