
					.left_menu
					{
						color:#000;
						background-color:#666262;
						border:1px solid #666262;
						
					}
				
					.left_menu_highlight
					{
						background-color:#D53333;
						border:1px solid #C1E0FF;
						color:#000;
						
					}
				
					.left_menu_select
					{
						background-color:#666262;
						border:1px solid #666262;
						color:#000;
					}
					