/* Slider
http://www.freshdesignweb.com/fashion-responsive-slider-tutorial.html
*/
/* Slider
/*-----------------------------------------------------------------------------------*/
.flex-direction-nav { /*position: absolute;  top:265px; width: 100%;*/ } 

.flex-control-nav li{ list-style:none;}
.flex-direction-nav li{ list-style:none;}
.slider_container{ width:auto; margin:0 auto; height:600px; clear:both;}
.flex-caption{ position: absolute; right:11px; bottom:20px;}
.caption_title_line{ width:450px; height:75px; padding:5px 15px 10px 15px;background:url(images/slider_caption_bg.png) repeat;color: #303030;}
.flex-caption h2{ color:#303030;font-size:20px; padding:5px 0 5px 0; margin:0px;font-family: 'Ovo', serif;}

.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block; height:auto;}
.flex-pauseplay span {text-transform: capitalize;}
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}
.flexslider {position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
.flex-container {zoom: 1; position: relative;}

/* Direction Nav */
.flex-direction-nav li a {width:45px; height:42px; margin:0; display: block; position: absolute; right:11px; cursor: pointer; text-indent: -9999px;}


.trans:hover {
    background-position: -800px 0;
}
.trans {
    background-image: url("img/back-sprite.gif");
    background-repeat: no-repeat;
    border: 1px solid rgb(51, 51, 51);
    height: 128px;
    margin: 10px;
    padding: 10px;
    width: 378px;
}

.flex-direction-nav li a.next { background: url("nextHover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 82px;right: 0;transition:all 0.3s ease 0s;width: 29px; top:34%; opacity:0.6;}
.flex-direction-nav li a.prev {background: url("prevHover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 82px;left:0;transition:all 0.3s ease 0s;width: 29px;top:34%;opacity:0.6;}
.flex-direction-nav li a.next:hover {opacity:1; -webkit-transition: all 200ms linear;}
.flex-direction-nav li a.prev:hover {opacity:1;-webkit-transition: all 200ms linear;}
.flex-direction-nav li a.disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -30px; text-align: center; display:none;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}

/* Media Queries
/*-----------------------------------------------------------------------------------*/


/*@media screen and (max-width:320px) {
.flex-direction-nav li a.next {top:28% !important;}
.flex-direction-nav li a.prev {top:28% !important;}
}

@media screen and (max-width:360px) {
.flex-direction-nav li a.next {top:25% !important; right:0;}
.flex-direction-nav li a.prev {top:25% !important;left:0}
}

@media screen and (max-width:480px) {
.flex-direction-nav li a.next {top:35% !important; right:0;}
.flex-direction-nav li a.prev {top:35% !important;left:0}
}*/
@media screen and (max-width: 800px) {
.flexslider .slides img{ vertical-align:middle !important;}
}

@media screen and (max-width: 1000px) {
.slider_container{/* width:90% !important;*/ margin:0 0 0 0; clear:both; background:none; padding:0;}
.flexslider {width: 100%; margin: 0; padding:0 0 0 0;background:none;}
.flex-direction-nav li a {width:45px; height:42px; margin:0; display: block; position: absolute; right:-10px; cursor: pointer; text-indent: -9999px;}
/*.flex-direction-nav li a.next {background:url(next.png) no-repeat center; bottom:85px;}
.flex-direction-nav li a.prev {background:url(prev.png) no-repeat center;bottom:40px;}*/
.flex-caption { display:none;}
}

@media screen and (max-width: 1024px) {
.slider_container{ /*width:90% !important;*/}
}
