.open_button
{
        background-color:#000;
		color:#FFF;	
}

.corner_menu
	{
	
	background-color:#FFF;
    border-bottom:1px solid #CC0;
	font-style:normal;
	font-weight:bold; 
	}
	
.corner_menu_item_highlight
{
	background-color:#3CF;
	color:#000;

		
	
}
.corner_menu_item_select
{
	color:#000;
	background-color:#3CF;
}
