  
  .container_capsule
  {

	   background-color:#2377B9;
	  color:white;


  }
  
  
  .capsule_item_thumbnail
  {
	  
	  background-color:#000;
	  color:#FFF
  }
  .capsule_item_thumbnail_highlight
  {
	  background-color:#000;
	  color:#FFF
  }
   .capsule_item_thumbnail_select
   {
	   background-color:#FFF;
	   color:#000
   }
  

  
  
.container_tab
{
	 background-color:#52BDB4;
	 color:#000;

	
}