.clikchere_tab
{

background-color:#333;
color:#CCC;

}

.clikchere_tab_highlight
{
	background-color:#000;
color:#fff;
}
.clikchere_tab_select
{
	background-color:#CCC;
color:#000;
}
.main_menu
{
	background-color:#666;
	
}

.main_menu_item
{
	border-bottom:1px solid #999;
	background-color:#F3C;
	color:#CCC !important;
}

.main_menu_item_highlight
{
	background-color:#CCC  !important;
	color:#000 !important;
}


.main_menu_item_select
{
	background-color:#60C !important;
	color:#FFF !important;
}
