<td>
    <a href="https://www.wagjag.com/" target="_blank"><img style="margin-right:10px;margin-top:20px;margin-left:0px;" width="208px" height="124px" src="${template.htmlInclude}Sample_deal_image.jpg" /></a>
</td>
<td>
    <div style="margin:10px;">
        <a href="https://www.wagjag.com/" target="_blank"><img src="${template.htmlInclude}WagJag_logo.gif" width="200px" height="65px" /></a>
        <p style="sfont-family:verdana;font-size:12px;line-height:18px;width:95%;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="button" style=""><a href="https://www.wagjag.com/" target="_blank">BUY DEAL</a></div>
    </div>
</td>
<!--div style="margin:10px;">
    <a href="https://www.wagjag.com/" target="_blank"><img src="WagJag_logo.gif" width="200px" height="65px"></a>
    <p style="sfont-family:verdana;font-size:12px;line-height:18px;width:95%;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="button" style=""><a href="https://www.wagjag.com/" target="_blank">BUY DEAL</a></div>
</div-->
