<td>
    <a href="http://www.elmwoodspa.com/shop/" target="_blank"><img style="margin-right:10px;margin-top:20px;margin-left:0px;" width="208px" height="124px" src="${template.htmlInclude}elmwoodspagiftcard.jpg" /></a>
</td>
<td>
    <style>
    a.deal-title:hover,a.deal-title:link,a.deal-title:visited { text-decoration:none;color:black;}  
    </style>
    <div style="margin:10px;">
        <a href="http://www.elmwoodspa.com/shop/" target="_blank" class="deal-title" style="text-decoration:none;"><div style="font-weight:bold;font-size:18px;text-decoration:none;">Christmas Spa Treatment</div></a>
        <p style="sfont-family:verdana;font-size:12px;line-height:18px;width:95%;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="button" style=""><a href="http://www.elmwoodspa.com/shop/" target="_blank">BUY DEAL</a></div>
    </div>
</td>

