body{
	font-family: arial;
	font-size: 13px;
	
}
.clear{
	display: block;
	clear: both;
}
#wrap{
	background: white;
	width: 960px;
	margin: auto;
	padding: 10px;
}
.text{
	padding: 10px;
	border: 1px solid #E6E1C8;
	background: #F3DDA6;
}
#navigation{
	width: 200px;
}
#navigation ul{
	list-style: none;
}
#navigation ul li{
	height: 30px;
	border: 2px solid #7e7e7e;
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        background-color:#cbcbcb;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#808080)); /* Safari 5.1, Chrome 10+ */ background: -webkit-linear-gradient(top, #dddddd, #808080); /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #dddddd, #808080); /* IE 10 */ background: -ms-linear-gradient(top, #dddddd, #808080); /* Opera 11.10+ */ background: -o-linear-gradient(top, #dddddd, #808080);
}
#navigation ul li a{
	text-indent: 20px;
	padding: 5px 0;
	display: block;
	height: 20px;
	text-decoration: none;
	color: #FFF;
	background-image: url(bull.png);
	background-repeat: no-repeat;
	background-position: 5px 6px ;
}
#navigation ul li a:hover{
	
	background-image: url(bull.png);
	background-repeat: no-repeat;
	background-position: 15px 6px ;
	color: yellow;
}
#footer{
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	text-align: center;
}
#footer img{
	border: none;
}