#clickhere
{

background-color:#333;
color:#CCC;

	
}

#sidebarDiv,#sidebarDivNew
{
   background-color:#000;	
}

#slidemenuDiv
{
	background-color:#666;
	
}

.liststyle
{
	border-bottom:1px solid #999;
	background-color:#F3C;
	color:#FFF;
}
.liststyle:hover
{
	background-color:#CCC;
	color:#000;
}
.liststyle  a
{
	color:#FFF;
}
.selected
{
	background-color:#60C;
	color:#000;
}
.selected a
{
	color:#000;
}