.capsule {
	background-color:#FFF;
	color:#000;
}

.image_thumb {
}

.heading_view {
	background-color:#FFF;
	color:#000;
}
 
.description_view {
	background-color:#FFF;
	color:#AAA;
}
 
.link_button {
	background-color:#FFF;
	color:#CCC;
}
    
.link_button_hilite {
	background-color:#FFF;
	color:#0000FF;
}
    
.graphic_button {
	background-color:#CCC;
	color:#000;
}