.header_videotab
  {
<#if tabbackgroundcolor?has_content>         
        background-color:${tabbackgroundcolor};
<#else>
        background-color:#093;
</#if>
<#if tabforegroundcolor?has_content>         
	    color:${tabforegroundcolor};
<#else>
	    color:#FFF;
</#if>
  }
  .vidoes
  {
<#if scrollerbackgroundcolor?has_content>         
        background-color:${scrollerbackgroundcolor};
<#else>
	   background-color:#2377B9;
</#if>
  }
  .box h5,.box p
  {
<#if scrollerforegroundcolor?has_content>         
	    color:${scrollerforegroundcolor};
<#else>
	  color:white;
</#if>
  }
#capsulecontainer > .header_videotab
{
	<#if tabbackgroundcolor?has_content>         
	    background-color:${tabbackgroundcolor};
<#else>
	 background-color:#52BDB4;
</#if>

	<#if tabforegroundcolor?has_content>         
	    color:${tabforegroundcolor};
<#else>
	 color:#000;
</#if>
	
}