
  .container_capsule
  {
		
			   background-color:#2377B9;
			
		       
  }
  .capsule_item_thumbnail {
	
				color:#093;
	
      background-color:#FFF;
      border:1px solid #C1E0FF;
     
	  <#if capsulewidth?has_content>         
      width: ${capsulewidth}px;
    <#else>
	   width:200px;
     </#if>
	 
    }
	
	
	 .capsule_item_thumbnail_highlight
	 {
		  color:#C60;
		 background-color:#999;
	 }
	
	 .capsule_item_thumbnail_select
	 {
		 color:#000;
		 background-color:#0CF;
	 }
	 .ok
	 {
		 
	 }
	
 